{% extends 'base.html.twig' %}

{% block body %}
    <body style="background: #f2f2f2; margin: 0; font-family: NiveauGroteskRegular,Helvetica,Arial,sans-serif">
        <div class="body">
            {% if login == false %}
            <div class="message">
                <div class="failure" style="background-color: red; color: white; padding: 10px; margin: 10px 0px; border-radius: 3px;">
                    <i class="fas fa-times" style="float: right;"></i>
                    <h3 style="margin: 0px 0px 5px 0px;">Fehlermeldung</h3>
                    <p style="margin: 0;">Login fehlgeschlagen</p>
                </div>
            {% endif %}
            {% if logout == true %}
                <div class="success" style="background-color: green; color: white; padding: 10px; margin: 10px 0px; border-radius: 3px;">
                    <i class="fas fa-times" style="float: right;"></i>
                    <h3 style="margin: 0px 0px 5px 0px;">Logout erfolgreich</h3>
                    <p style="margin: 0;">Sie haben sich erfolgreichabgemeldet.</p>
                </div>
            {% endif %}
            <div class="login">
                <h2>Login</h2>
                <div class="login_input">
                    <form action="" method="post">
                        <label>Email</label><br>
                        <input type="email"name="email" style="margin-top: 5px;"><br>
                        <label>Passwort</label><br>
                        <input type="password" name="password"><br>
                        <button type="submit">Login</button><br>
                        <p style="font-size: 12px">Password vergessen?</p>
                    </form>
                </div>
            </div>
            <p style="font-size: 12px; text-align: center;">Copyright © 2019 Security Squad GmbH</p>
        </div>
        <style>
             .header { height: 60px; padding: 5px; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,.1); }
             .body { min-height: 60px; margin: 10px; padding: 5px; }
             .body .login { margin: 0 auto; max-width: 400px; }
             .body .login .login_input { padding: 20px; background-color: white; box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1); border-radius: 3px;}
             .body .login .login_input input { width: 100%; margin: 10px 0px; padding: 5px; }
         </style>
    </body>
{% endblock %}